# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Popular Languages
- Commonly Used Libraries
- Data Science Tools
- Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:
1. NumPy
2. Pandas
3. Keras

| Data Science Tools |
|------------------- |
|   Apache Spark     |
|   Apache Hadoop    |
|   Tensor Flow      |

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing 60
200/60

3.3333333333333335

## Author
   HamzaMad